<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="G'day Messenger" />
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/logo_512x512.png" />
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/manifest.json" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      type="text/css"
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/css/materialize.min.css"
      media="screen,projection"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options.PUBLIC_URL %>/css/styles.css"
      media="screen,projection"
    />

    <title>Deploy</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Deploy</a>
      </div>
    </nav>

    <div id="screen-home" class="mt4">
      <div class="container">
        <div class="card grey lighten-4">
          <div class="card-content">
            <div class="row">
              <blockquote>An app for deploying all your Node JS apps.</blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
